@model List<TripViewModel>
@{
    ViewData["Title"] = "Trips List";
}

<h1 class="header">Trips List</h1>
<div class="trips-list">
    <span class="title-for-trip-list">Name</span>
    <span class="title-for-trip-list">Location</span>
        
    @foreach (var trip in Model)
    {
        <a asp-route-id="@trip.Id"><span>@trip.Name</span></a>
        <span>@trip.Location</span>
    }
</div>


