.header {
    color: #e76f51;
    margin: auto;
}
.title-for-trip-list {
    color: #e9c46a;
}

.trips-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

::deep .trip-name {
    grid-column-start: 1;
    grid-column-end: 2;
}

.trip-location {
    grid-column-start: 2;
    grid-column-end: 3;
}

.trip-favorite-count{
    grid-column-start: 3;
    grid-column-end: 4;
}
