@model CreatePlaceToVisitViewModel

<div class="new-place">
    <h1>Add place to visit</h1>
    <form class="new-place-form" method="post">
        <div class="input">
            <label asp-for="Name">Name</label>
            <input asp-for="Name"/>
            <span class="validation-error" asp-validation-for="Name"></span>
        </div>
        
        <div class="input">
            <label asp-for="VisitOrder">Location visit order</label>
            <input asp-for="VisitOrder"/>
            <span class="validation-error" asp-validation-for="VisitOrder"></span>
        </div>
        
        <div class="input">
            <label asp-for="Note">Note</label>
            <input asp-for="Note"/>
            <span class="validation-error" asp-validation-for="Note"></span>
        </div>
        
        <button class="button" type="submit">Add</button>
    </form>
</div>