@model CreatePlaceToVisitViewModel
@{
    ViewData["Title"] = "Create place to visit";
}

<h1 class="display-1">Create place to visit</h1>
<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="form-floating mb-3">
                <input class="form-control" asp-for="Name" placeholder="Name"/>
                <label asp-for="Name">Name</label>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" asp-for="VisitOrder" placeholder="Order"/>
                <label asp-for="VisitOrder">Order</label>
                <span class="text-danger" asp-validation-for="VisitOrder"></span>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" asp-for="Note" placeholder="Note"/>
                <label asp-for="Note">Note</label>
                <span class="text-danger" asp-validation-for="Note"></span>
            </div>

            <button class="btn btn-primary">Create</button>
        </form>
    </div>
</div>