@model List<TripViewModel>

<a asp-action="CreateTrip">Create new trip</a>

<h1 class="header">Your trips</h1>
<div class="trips-list">
    <span class="title-for-trip-list">Name</span>
    <span class="title-for-trip-list">Location</span>
    <span class="title-for-trip-list">Start date</span>
    <span class="title-for-trip-list">End date</span>
        
    @foreach (var trip in Model)
    {
        <span>@trip.Name</span>
        <span>@trip.Location</span>
        <span>@trip.StartDate</span>
        <span>@trip.EndDate</span>
    }
</div>
