.header {
    color: #e76f51;
    margin: auto;
}
.title-for-place-list {
    color: #e9c46a;
}
.places-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.details{
    display: grid;
    grid-template-columns: repeat(4, 3fr) 1fr;
}